*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}
.googleinput{
  margin: auto;
 display: flex;
 align-items: center;
 justify-content: center;

}

.googleinput input
{
border: none;
height: 40px;
width:500px;
border: 2px solid blue;
border-radius: 50px;
}
.logo {
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px auto;
}
.googleinput button
{
  border: 2px solid gray;
  border: none;
  height: 40px;
  width: 70px;
  border-radius: 20px;
}
.google {
  display: flex;
  justify-content: center;
color: brown; 
font-size: 40px;
}
.google .G{
  color: rgb(0, 136, 255);
}
.google .e{
  color: red;
}
.google .l{
  color: rgb(95, 255, 47);
}
.google .o{
  color: rgb(174, 174, 2);
}
